@import "compass_twitter_bootstrap";

.log-in {
	text-align:center;
}

.qr-info-plain {}
.qr-info-decoding {}
.qr-info-decoding-error { color: red; }
.qr-info-decoding-success {}
.qr-info-upload-success { color: green; }
