<div ng-show="!!getFormSheet()">
	<h3>{{ getFormSheet().title }}</h3>
	<h4>Owner names:</h4>
	<ul>
		<li ng-repeat="owner in getFormSheet().ownerNames">
			{{ owner }}
		</li>
	</ul>
</div>
<div ng-show="!!getRows()">
	<div>
		<h5>Add new attendee:</h5>
		<input onchange="angular.element(this).scope().scanQr(this)"
				id="input" type="file" accept="image/*" />
				<p class="qr-info-{{ qrInfo.cssClass }}">
					{{ qrInfo.message }}
				</p>
	</div>
	<h4>Marked as Attending:</h4>
	<form style="display: none">
		<input type="text" ng-model="newAttendee" value="New Attendee">
		<input type="button" ng-click="addRow()" value="Add">
	</form>
	<ul>
		<li ng-repeat="attendee in getRows().data.feed.entry">
			{{ attendee.title.$t }}
		</li>
	</ul>
</div>
